.DS_Store
/lab2/plot-codes
/lab2/outputs
/lab3/plot-codes
/lab3/outputs
/lab3/archive/lena1.ppm
/lab3/archive/lena2.ppm
/lab3/archive/lena3.ppm
/lab3/archive/lena4.ppm
/lab3/archive/lena5.ppm
/lab3/archive/lena6.ppm
/lab4/images
/project/refs
/project/201601139-presentation.pdf
/project/201601139-presentation.pptx
/project/201601139-report.docx
